@(title: String)(content: Html)(implicit lang: Lang, flash: Flash)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.css")'>
        <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
    </head>
    <body>
        <div class="screenshot">
            <div class="nav navbar-nav">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="@routes.Application.index()">
                            Message
                        </a>
                        <ul class="nav">
                            <li class="divider-vertical"></li>
                            <li class="active">
                                <a href="@routes.Products.list()">
                                    商品列表
                                </a>
                            </li>
                            <li class="active">
                                <a href="@routes.Products.newProduct()">
                                    新增商品
                                </a>
                            </li>
                            <li class="divider-vertical"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                @if(flash.get("success").isDefined) {
                    <div class="alert alert-success">
                    @flash.get("success")
                    </div>
                }
                @if(flash.get("error").isDefined) {
                    <div class="alert alert-error">
                    @flash.get("error")
                    </div>
                }
                @content
                @debug()
            </div>
        </div>
    </body>
</html>
